/*Setting*/
body{
 background-color: #f3f2f1;
 margin: 0;
}

/* Navigation bar */
nav {
  width: 100%;
<<<<<<< HEAD:stylesheet/css/index.css
  height: 40px;
=======
  height: 30px;
>>>>>>> 9648987371ef795dbce8c1d3e2b50c1fe478d666:stylesheet/css/style.css
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #f3f2f1;
  border-bottom: 1px soild #fafafa;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
}

nav > a:link, nav > a:visited {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

nav > .nav_btn {
  display: block;
<<<<<<< HEAD:stylesheet/css/index.css
  height: 40px;
  width: 20%;
  margin: 0;
  line-height: 40px;
  font-weight: 800;
=======
  height: 30px;
  width: 20%;
  margin: 0;
  line-height: 30px;
>>>>>>> 9648987371ef795dbce8c1d3e2b50c1fe478d666:stylesheet/css/style.css
}

/* Section */
section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 900px;
  border: 1px solid #fafafa;
}

section > h4 {
  font-size: 3em;
  color: #ffffff;
  text-shadow: 1px 2px 1px #e5e5e5;
  line-height: 600px;
  text-align: center;
  text-transform: uppercase;
}

.sec_info,
.sec_career,
.sec_portfolio,
.sec_study {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info_content_block,
.career_content_block,
.port_content_block,
.study_content_blcok {
  width: 100%;
}

/*Info Section*/
.info_content_block{
  width: 100%;
  height: 900px;
}

.info_title{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}